.profile__image {
  display: flex;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 29px 0 0;
  cursor: pointer;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile__image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 5;
}

.profile__image:hover::after {
  content: "";
  background-image: url("../../../images/edit-icon.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
